/* from https://www.w3schools.com/cssreF/css3_pr_font-face_rule.php */
@font-face {
    font-family: pixelFont;
    src: url(src/pixeboy-z8xgd-webfont.woff);
  }

  h2 {
    color: white;
    font-family: pixelFont;
    font-size: 72px;
  }
  
  body {
    background-color: black;
  }

  .gameContainer {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  #game_canvas { 
    margin-top: 10px;
    border:8px solid; 
    border-color: white;
    
  }

  #leaderboard {
    color: white;
  }

  #top_scores {
    color: white;
  }